html {
    font-family: 'Open Sans', sans-serif;
    line-height: 10px;
    font-weight: 700;

}

.pricing-table {
    height: 100vh;
    display: flex;
    background-color: rgba(84, 159, 254, 255);
    justify-content: center;
    align-items: center;
}

.pricing-plan {
    background-color: white;
    text-align: center;
    padding: 80px;
    display: flex;
    flex-direction: column;
}

.plan1 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.plan3 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pricing-header {
    text-transform: uppercase;
    color: #8e8e8e;
    letter-spacing: 2px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.pricing-features {
    color: #5580bc;
}

.pricing-features-item {
    padding: 10px;
}

.pricing-price {
    font-size: 34px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #1b6be4;
}

.pricing-button {
    border: 1px solid #dde8ef;
    font-weight: 500;
    padding: 15px 30px;
    width: 100px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #70a5ea;
}